menu "MQTT"

    config MQTT_URL
        string "Application Server Web Address"
        default "mqtt://hygienieproject.xyz"
        depends on IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            This is the web address to send the sanitizer data to. Be sure to include mqtt://
            in front of it.

    config MQTT_IP_ADDRESS_WITH_PORT
        string "Application Server ip address"
        default "mqtt://3.19.24.164:1883"
        depends on IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
           This is ip address and port to send the sanitizer data to. Be sure to use the format "mqtt://<IP_ADDRESS>:<PORT>"

    config MQTT_CLIENT_ID
        string "Client ID of sensor"
        default arrgh
        depends on !IDF_TARGET_ESP32C3
        help
            The client ID of the sensor.

    config MQTT_USERNAME
        string "Username of Device"
        default username
        help
            The client ID of the sensor.

    config MQTT_PASSWORD
        string "Password of Device"
        default password
        help
            The password of the sensor.
endmenu
